$color-body-background: #131518;

$color-dark-blue: #262E38;
$color-orange: #FC7614;

$color-light-gray: #969FAD;
$color-medium-gray: #7C8798;
$color-pure-white: #FFFFFF;

$black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

* {
  margin: 0;
  padding: 0;
}
